fastapi==0.115.0
uvicorn[standard]==0.30.6
pandas==2.2.2
openpyxl==3.1.5
python-multipart==0.0.9
sqlalchemy==2.0.35
pg8000==1.31.2
google-cloud-storage==2.18.2
google-cloud-monitoring==2.26.1
google-cloud-logging==3.11.2
cloud-sql-python-connector[pg8000]==1.12.1
google-genai==1.29.0
pytest==8.3.2
black==24.8.0
flake8==7.1.1
bandit==1.8.2
